<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
   <MSTest>
      <!--
         Specify timeout in milliseconds.
         Current timeout is set to 11mins 
         (Long running test - DeviceClient_CreateFromConnectionString_TokenIsRefreshed_Mqtt takes a little over 10mins to complete.)
         (Long running tests - DeviceClient_TokenIsRefreshed_Ok_Mqtt, DeviceClient_DeviceDisabled_Gives_ConnectionStatus_DeviceDisabled_AMQP take a little over 5mins to complete.)
      -->
      <TestTimeout>660000</TestTimeout>
   </MSTest>
</RunSettings>