{
  "profiles": {
    "DeviceStreamSample": {
      "commandName": "Project",
        "environmentVariables": {
            "IOTHUB_CONN_STRING_CSHARP": "<yourIoTHubConnectionString>",
            "DEVICE_ID": "<deviceId>",
            "LOCAL_PORT":  "<localPortOpenedByTheSample>"
        }
    }
  }
}