{
  "profiles": {
    "DeviceStreamSample": {
      "commandName": "Project",
        "environmentVariables": {
            "IOTHUB_DEVICE_CONN_STRING": "<yourDeviceConnectionString>",
            "REMOTE_HOST_NAME": "<addressToTargetService>",
            "REMOTE_PORT": "<portOfTargetService>"
        }
    }
  }
}