{
  "profiles": {
    "RegistryManagerSample": {
      "commandName": "Project",
      "commandLineArgs": "-c <yourIoTHubConnectionString> -p <deviceCertPrimaryThumbprint> -s <deviceCertSecondaryThumbprint>"
    }
  }
}