{
  "profiles": {
    "RegistryManagerSample": {
      "commandName": "Project",
      "environmentVariables": {
        "IOTHUB_CONNECTION_STRING": "<yourIoTHubConnectionString>",
      }
    }
  }
}