{
  "profiles": {
    "DeviceStreamSample": {
      "commandName": "Project",
        "environmentVariables": {
            "IOTHUB_CONNECTION_STRING": "<yourIoTHubConnectionString>",
            "DEVICE_ID": "<deviceId>",
            "LOCAL_PORT":  "<localPortOpenedByTheSample>"
        }
    }
  }
}