		{
  "profiles": {
    "EnrollmentGroupSample": {
      "commandName": "Project",
      "environmentVariables": {
        "PROVISIONING_CONNECTION_STRING": "<yourIoTHubConnectionString>"
      }
    }
  }
}